.mainContainer {
    /* margin-left: 1%;
    padding-left: 1%; */
}

.background {
    background-image: url('../images/starwars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.titleContainer {
    height: 10%;
    width: auto;
    text-align: right;
    margin-left: 30px;
    font-family: 'Faster One', cursive;
    font-size: 3rem;
    color: white;
    padding-top: 0;
}


.cols {
    margin: 0;
    padding: 0;
}

.cards {
    height: auto;
    border: 2px solid red;
}

.imgs {
    /* position: absolute; */
    padding: 0 7%;
    height: 100%;
    width: 100%;
}

.charTitle {
    font-family: 'Geostar Fill', cursive;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1rem;
}

.enemyRow {
    height: 155px;
    /* margin-left: 0; */
}

.card-header, .card-footer {
    padding:0;
}

.cards img {
    max-height: 100px;
    max-width: auto;
}

.battleText {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1rem;
}